body {
    background-color: #000;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
}

.container {
    background-color: #999697;
    margin: 20px auto;
    width: 1800px;
    border: 4px solid #00f71d;
    box-shadow: 8px 8px 20px rgba(255,255,255,0.3);
    padding: 20px;
}

h1 {
    text-align: center;
}

.task-list li {
    list-style-image: url("../images/kartinka3.png");
  /*  background-size: 50px 50px; */
    padding: 15px;
    border-bottom: 2px solid #e084a3;
}